<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Bake stage</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>/opt/github/blue-green</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set -e 
cd packer
rm -f packer_output.txt ami.txt
/usr/local/bin/packer build -machine-readable -var-file=variables.json app.json | tee packer_output.txt
cat packer_output.txt| egrep &apos;artifact,0,id&apos; | cut -f6 -d, | cut -f2 -d: &gt; ami.txt
AMI=$(cat ami.txt)
if [ ! $(cat ami.txt | grep ami) ]; then
  echo &quot; &quot;
  echo &quot;Something has likely gone wrong with the build. Can&apos;t find ami value. Exiting.&quot;
  echo &quot; &quot;
  exit 1
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper plugin="ssh-agent@1.17">
      <credentialIds>
        <string>f10b7529-200d-4d52-9055-993ef0fffd8d</string>
      </credentialIds>
      <ignoreMissing>false</ignoreMissing>
    </com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
  </buildWrappers>
</project>